extends ../layouts/default

block content
  h1 Danh sách đề thi Writing TOEIC
  if error
    p.alert.alert-danger= error
  if success
    p.alert.alert-success= success
  if writings.length
    .row
      each writing in writings
        .col-md-4.mb-3
          .card
            .card-body
              h3.card-title #{writing.examCode} - Topic #{writing.TopicN}
              p.card-text Độ khó: #{writing.difficulty}
              p.card-text #{writing.notes}
              a.btn.btn-primary(href=`/testtoeic/writing/${writing._id}`) Làm bài
  else
    p Không có đề thi nào được công khai